.rdrDateDisplayWrapper{
    display: none;
}
.rdrCalendarWrapper{
    font-family: 'Open Sans',sans-serif;
}

.appointments-main {
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #F6F7F9;
}

.appointments-header{
    display: flex;
    width: 100%;
}

.appointments-header__item{
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    max-width: 445px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    position: relative;
}

/* DOCTORS WRAPPER  */
.appointments-doctors-w__name-title{
 flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.appointments-doctors-w__last{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.appointments-cal-w--no-shadow{
    box-shadow: none;
}


.appointments-cal-w{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    justify-content: space-between;
}



.appointments-cal-w__label{
    
    color: #456AEB;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

.appointments-cal-w__last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 1px solid #d3d3d3
}

.appointments-cal-w__date{
    font-weight: 300;
    font-family: Open Sans, sans-serif;
    color: #565b61;
}

.appointments-cal-w__cal{
    position: absolute;
    top: 70px;
    left: 0;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .08);
    z-index: 5;
    animation: drop-down .3s;
}

.appointments-cal-w__cal--right{
    left: auto;
    right: 0;
}

.appointments-cal-w-no-paddings-l-r{
    padding-left: 0px;
    padding-right: 0px;
}

.search-patient-form{
    max-width: 100%;
    width: 320px;
    margin-top: 25px;
    margin-bottom: 160px;
}

.add-patient-form{
    max-width: 100%;
    width: 320px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.view-event-popup{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    max-width: 100%;
    min-width: 320px;
}

.view-event-popup__col{
    overflow-x: hidden;
}

.view-event-popup__col--mid-item{
    margin-left: 100px;
    margin-right: 100px;
}

.view-event-popup__name-w{
    display: flex;
    align-items: center;
    color: #A3A8AE;
    font-family: 'open-sans', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.view-event-popup__name-i{
    margin-right: 10px;
    font-size: 1.2em;
    color: #7E8FA8;
    width: 20px;
}

.view-event-popup__value{
    color: #545D6B;
    font-family: 'open-sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    margin-left: 30px;
    word-break: break-all;
    text-align: center;
}

.event-confirm-delete{
    width: 100%;
    min-width: 300px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Circular Std Book',sans-serif;
    color: rgb(86, 91, 97);
    
}

.event-confirm-delete__buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    
    .appointments-header{
        flex-direction: column;
    }

    .add-patient-form{
        width: 100%;
    }

    .search-patient-form{
        width: 100%;
    }

    .view-event-popup{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-width: auto;
    }

    .view-event-popup__col--mid-item{
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .event-confirm-delete{
        min-width: auto;
    }

}