/* schedule row */
.schedule-row {
    border-bottom: 1px solid lightgrey;
}

.schedule-row__item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.scheduler-row__title{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: #456aeb;
}

.schedule-row__no-hours{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #565b61
}

.schedule-row__button-icon{
    color: #fff;
    background-color: #456aeb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 15px
}

.schedule-row__times-wrapper{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-row__times-wrapper-icon{
    color: #565b61;
    font-size: 1em;
    transform: rotate(180deg);
}

.schedule-row__loader{
    width: 20px;
    margin-left: 15px;
}