
/* container */
.main-container{
    min-width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.main-container--bg-grey{
    background-color: rgb(246, 247, 249);
}

.main-container--bg-white{
    background-color:white;
}

.main-container__header{
    display: flex;
    align-items: center;
}

.main-container__reload-icon{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    color: grey;
    padding: 3px;
}

.main-container__reload-icon:hover{
    background-color: #eaeaea;
    border-radius: 50%;
}

.main-container__title{
    font-family: 'Circular Std Book',sans-serif;
    font-size: 1.8em;
    color: rgb(86, 91, 97);
}

.main-container__tabs{
    display: flex;
    justify-content: space-between;
    animation: tab-opacity .3s;
}

.main-container__tab{
    width: 100%;
    min-height: 100px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
}

.main-container__tab--schedule-tab{
    width: 350px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}


@media screen and (max-width: 800px) {
    .main-container {
        padding-left: 20px;
    }

    .main-container__tabs{
        flex-direction: column;
    }

    .main-container__tab--schedule-tab{
        width: 100%;
        margin-top: 25px;
    }
}