/* time wrapper */
.time-wrapper{
    display: flex;
    align-items: center;
    color: #565b61;
}

.time-wrapper__icon{
    transform: rotate(180deg);
    font-size: 1em;
    margin-right: 5px;
}

.time-wrapper__hour{
    min-width: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}


/* time picker */

.time-picker{
    min-width: 150px;
    padding: 10px;
    left: -20px;
}

.time-picker--right{
    left: auto;
    right: 0;
}

.time-picker__first{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.time-picker__hour{
    padding: 5px;
    background-color: #456aeb;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
}

.time-picker__minutes{
    padding: 5px;
    background-color: #456aeb;
    color: #fff;
    border-radius: 3px;
    font-weight: 600
}

.time-picker__h-m-seperator{
    color: #456aeb;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
}

.time-picker__second{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.time-picker__second--margin-bottom-20{
    margin-bottom: 20px;
}

.time-picker__input{
    -webkit-appearance: none;
    height: 4px;
    background-color: #456AEB;
    border-radius: 3px;
    cursor: pointer;
}