/* input */
.dk-input-w{
    min-height: 45px;
    display: flex;
    position: relative;
    align-items: flex-end;
}

.dk-input {
    width: 100%;
    border: none;
    font-size: 0.9em;
    border-bottom: 1px solid #dddddd;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 4px;
    position: relative;
    color: rgb(86, 91, 97);
}

.dk-input--text-area{
    resize: none;
    box-sizing: border-box;
    padding-top: 20px;
    min-height: 85px;
}

.dk-input-w__label {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 0.9em;
    top: 22px;
    font-weight: 300;
    transition: top .2s, font-size .2s;
    pointer-events: none;
}

.dk-input-w__label--on {
    top: 0px;
    font-size: 0.72em;
    color: #456AEB;
    font-weight: 400;
}


.dk-input-w__label.error {
    color: red;
}

.dk-input-w__border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #456AEB;
    transition: .3s;
}

.dk-input-w__border.error{
    background-color: red;
}

.dk-input:focus+.dk-input-w__border {
    width: 100%;
}

.dk-input-w__icon{
    position: absolute;
    right: -2px;
    font-size: 1em;
    top: 50%;
    cursor: pointer;
    color: grey
}



/* INPUT WITH ICON */
.dk-input-n-icon{
    position: relative;
    border-radius: 2px;
    border: 0.5px solid #DDDDDD;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    height: 38px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    background-color: white;
    width: 100%;
}

.dk-input-n-icon--patients{
    max-width: 450px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    height: 40px;
}

.dk-input-n-icon__icon{
    color: #888E96;
    font-size: 1.3em;
}

.dk-input-n-icon__clear-icon{
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    color: #5c7ced;
}

.dk-input-n-icon__input{
    height: 70%;
    width: 85%;
    color: #545D6B;
    font-family: 'open-sans', sans-serif;
    font-size: 13px;
    border: none;
    margin-left: 5px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

.dk-input-n-icon__input--has-data{
    color: #5c7ced;
}

.dk-input-n-icon__input::placeholder{
    font-weight: 100;
}