/* button block */
.dk-btn{
    background-color: #456AEB;
    border-color: #456AEB;
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    font-family: 'Circular Std Medium';
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    white-space: nowrap;
  }
  
  .dk-btn:hover{
      border-color: #5c7ced;
      background-color: #5c7ced;
  }
  
  .dk-btn--self-end{
      align-self: flex-end;
  }
  
  .dk-btn--color-danger{
      background-color: #C94F40;
      border-color: #C94F40;
  }
  
  .dk-btn--color-danger:hover{
      border-color: #b74638;
      background-color: #b74638;
  }
  
  .dk-btn--color-normal{
      border-color: #DDDDDD;
      color:#888E96;
      background-color: white;
  }

  .dk-btn--color-normal:hover{
      border-color: #DDDDDD;
      background-color: #f2f2f2;
  }

  .dk-btn--color-grey{
      border-color:#888E96;
      color:white;
      background-color: #888E96;
  }
  
  .dk-btn--color-grey:hover{
      border-color: #888E96;
      background-color: #888E96;
  }
  
  .dk-btn--small-height{
      min-height: 30px;
      height: 30px;
  }
  
.dk-btn--medium-height{
    height: 35px;
    min-height: 35px;
}

.dk-btn--search-patients{
    margin-left: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dk-btn--border{
    border: 0.5px solid #DDDDDD;;
}

.dk-btn--small-padding{
    padding-left: 19px;
    padding-right: 19px;
}

.dk-btn--w-70px{
    width: 70px;
    max-width: 70px;
    min-width: 70px;
}