/* default title */
.default-title{
    font-family: 'Circular Std Medium',sans-serif;
    font-size: 2.2em;
    color: white;
}


/* default paragraph */
.default-p{
    color: white;
    font-size: 0.9em;
    font-family: 'Open Sans',sans-serif;
}


/* default warnings texts */
.dk-form-error-txt {
    font-size: 0.8em;
    color: red;
    font-family: 'Open Sans', sans-serif;
}

.dk-form-success-txt {
    font-size: 0.8em;
    color: rgb(77, 205, 148);
    font-family: 'Open Sans', sans-serif;
}


/* inital circle */
.initial-circle{
    height: 40px;
    width: 40px;
    background-color: #E8F0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 15px;
    opacity: .7;
    color: #456AEB;
    font-family: 'Circular Std Bold',sans-serif;
    flex-shrink: 0;
}

.initial-circle--large{
    height: 50px;
    width: 50px;
    font-size: 1.2em;
}


/* DOWN ICON FOR DROP DOWNS */
.drop-down-arrow-down{
    font-size: 1em;
    cursor: pointer;
    color: grey
}