/* popup */
.popup-w{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.popup-w__background{
  position: absolute;
  opacity: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  animation: background-opacity .5s forwards;
}

.popup-w__close-i{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: lightgrey;
  transition: color .3s;
}

.popup-w__close-i:hover{
    color: grey;
}

.popup-form{
  min-width: 200px;
  min-height: 200px;
  background-color: white;
  z-index: 1;
  border-radius: 2px;
  position: relative;
  max-height: 95%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  animation: drop-down .3s;
}

.popup-form--small-paddings{
    padding-left: 20px;
    padding-right: 20px;
}

.popup-form__first{
    width: 100%;
    border-bottom: 1px solid #F6F7F9;
    padding-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column ;
    align-items: center;
    flex-shrink: 0;
}

.popup-form__name{
    color: rgb(86, 91, 97);
    font-family: 'Circular Std Book',sans-serif;
    font-size: 1.4em;
}

.popup-form__second-name{
    color: #888E96;
    font-family: 'Circular Std Book',sans-serif;
    font-size: 1.2em;
    margin-top: 5px;
}

.popup-form__mid{
    flex: 1;
    flex-shrink: 0;
}

.popup-form__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* DROP DOWN */
.drop-down{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;
    margin-top: 5px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(136, 142, 150, 0.05);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    white-space:nowrap;
    animation: drop-down .4s;
    width: 100%;
    box-sizing: border-box;
    max-height: 250px;
    overflow-y: auto;

}

.drop-down--small-height{
    max-height: 105px;
    overflow-y: auto;
}
  
.drop-down::after{
    position: absolute;
    content:'';
    width: 100%;
    height: 50px;
    background-color: transparent;
    top:-11px;
    right: 0;
    z-index: -2;
}

.drop-down--bottom{
    top: auto;
    bottom: 100%;
    animation: drop-up .4s;
}
  
.drop-down--width-auto{
    width: auto;
}

.drop-down__default-item{
  max-width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #F6F7F9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #456AEB;
  font-size: 0.8em;
  font-family: 'Circular Std Book',sans-serif;
   white-space: pre-wrap;
}


.drop-down__default-item:last-child{
    border-bottom: none;
}

.drop-down__phone-number{
    color:#545D6B;
    font-family: 'open-sans',sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.confirm-delete{
    width: 100%;
    min-width: 300px;
    margin-top: 30px;
    margin-bottom: 40px;
     display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .popup-w{
      height: calc(100% + 55px);
    }

    .popup-form{
        padding-left: 20px;
        padding-right: 20px;
        width:  95%;
    }

    .confirm-delete{
        min-width: auto;
    }
}