.dsh-row {
    width: 100%;
    min-height: 350px;
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.dsh-row__item {
    height: 100%;
    width: calc(50% - 15px);
    max-width: calc(50% - 15px);
    border-radius: 2px;
}


/* CHART */

.dsh-chart {
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 70px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    max-height: 350px;
}


.dsh-chart__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.dsh-chart__total {
    font-size: 1em;
    color: #565b61;
    font-family: 'Circular Std Book', sans-serif;
}

.dsh-chart__name {
    font-size: .8em;
    color: #565b61;
    font-family: 'Circular Std Book', sans-serif;
    position: relative;
    margin-left: 10px;
}

.dsh-chart__name::before {
    content: '\2022';
    margin-right: 5px;
    color: #456aeb;
}

.dsh-chart__name--no-dot::before{
    content: '';
}

/* PIE CHART */
.dsh-chart__pie-c{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.dsh-chart__pie-absolute-span{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    left:40px;
    color: #565b61;
    font-family: 'Circular Std Medium',sans-serif;
}

.dsh-pie-chart-rows-c{
    flex: 0.8 1
}

.dsh-chart__pie-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px
}

.dsh-chart__pie-row-name{
    font-family: 'Circular Std Book',sans-serif;
    color: grey;
    display: flex;
    align-items: center;
}

.dsh-chart__pie-row-name::before{
    content: '\2022';
    margin-right: 10px;
    font-size: 12px;
}

.dsh-chart__pie-row-name.c1::before{
    color: rgb(252,194,60)
}

.dsh-chart__pie-row-name.c2::before{
    color: rgb(196,79,67)
}

.dsh-chart__pie-row-name.c3::before{
    color: rgb(82,194,160)
}

.dsh-chart__pie-row-name.c4::before{
    color: rgb(72,110,232)
}

.dsh-chart__pie-row-name.c5::before{
    color: rgb(233,38,137)
}


.dsh-chart__pie-row-number{
    font-family: 'Circular Std Medium',sans-serif;
    color: #d3d3d3;
    font-size: .9em
}

/* STATS */

.dsh-stats{
    height: 100%;
    min-height: 250px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.dsh-stat__row{
    width: 100%;
    height: calc(50% - 20px);
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    position: relative;
    z-index: 1;
}   

.dsh-stats__item{
    width: calc(50% - 15px);
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
}

.dsh-stats__item::after{
    position: absolute;
    content: '';
    min-width: 100%;
    height: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: -5px;
    left: 0;
    z-index: -1;
}

.dsh-stats__item--blue::after{
    background-color: rgb(72, 110, 232)
}

.dsh-stats__item--green::after{
    background-color: rgb(94, 221, 182)
}

.dsh-stats__item--red::after{
    background-color: rgb(199, 80, 68);
}

.dsh-stats__item--yellow::after{
    background-color: rgb(252, 194, 60)
}

.dsh-stats__number{
    font-size: 1.8em;
    color: #565b61;
    font-family: 'Circular Std Medium',sans-serif;
}

.dsh-stats__type{
    font-size: .9em;
    color: #888e96;
    font-family: 'Circular Std Book',sans-serif;
    display: block;
}

.dsh-stats__icon{
    color: #ddd;
    font-size: 2.5em;
    margin-left: auto;
}


/* RESPONSIVE */
@media screen and (max-width: 1050px) {
    .dsh-row{
        flex-direction: column;
        height: auto;
    }
    
    .dsh-row__item{
        width: 100%;
        max-width: none;
    }

    .dsh-row__item--right{
        margin-left: 0px;
    }

    .dsh-row__item--left{
        margin-right: 0px;
    }

    .dsh-stats{
        margin-top: 20px;
    }

    .dsh-chart--pie{
        margin-top: 30px;
        height: auto;
        max-height: none;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .dsh-stat__row{
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;   
    }

    .dsh-stats__item{
        width: 100%;
        margin-bottom: 30px;
    }

    .dsh-chart__pie-c{
        flex-direction: column;
    }

    .dsh-pie-chart-rows-c{
        width: 70%;
        margin-top: 20px
    }

    .dsh-chart__pie-absolute-span{
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
    }
}