/* colors */

.bg-color-primary {
    background-color: #456AEB;
  }
  
  .bg-color-primary-2 {
    background-color: rgb(57, 100, 226);
  }
  
  .bg-color-lightgrey {
    background-color: rgb(246, 247, 249);
  }
  
  .bg-color-white {
    background-color: white;
  }
  
  .color-grey {
    color: rgb(86, 91, 97);
  }
  
  .color-light-grey {
    color: #888E96;
  }
  
  .color-white {
    color: white;
  }
  
  .color-primary {
    color: #456AEB;
  }
  
  .color-green {
    color: #58DEB5;
  }




/* fonts */

.font-book {
    font-family: Circular Std Book;
}

.font-medium {
    font-family: Circular Std Medium;
}

.font-bold {
    font-family: Circular Std Bold;
}

.em-1-1 {
    font-size: 1.1em;
}

.em-1-2 {
    font-size: 1.2em;
}

.em-2-5 {
    font-size: 2.5em;
}

.em-2-2 {
  font-size: 2.2em;
}

.em-1-8{
  font-size: 1.8em;
}

.em-1-5{
  font-size: 1.5em;
}

.em-1-4{
  font-size: 1.4em;
}

.em-1 {
  font-size: 1em;
}


.em-0-9 {
  font-size: 0.9em;
}

.em-0-8 {
  font-size: 0.8em;
}

.em-0-7 {
  font-size: 0.7em;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
  }
  
.weight-300{
  font-weight: 300;
}

.weight-100{
  font-weight: 100;
}
  

/* margins and paddings */

.mrt-50px {
    margin-top: 50px;
}

.mrb-20px {
    margin-bottom: 20px;
}

.mrb-15px {
    margin-bottom: 15px;
}

.mrr-10px {
    margin-right: 10px
}

.mrt-25px {
    margin-top: 25px;
}

.mrr-30px {
    margin-right: 30px;
}

.mrb-0px {
  margin-bottom: 0px;
}

.mrb-22px {
  margin-bottom: 22px;
}

.mrb-10px {
  margin-bottom: 10px;
}

.mrb-15px {
  margin-bottom: 15px;
}

.mrt-15px {
  margin-top: 15px;
}

.mrt-20px {
  margin-top: 20px;
}

.mrt-25px {
  margin-top: 25px;
}

.mrt-30px {
  margin-top: 30px;
}

.mrt-15px {
  margin-top: 15px;
}

.mrt-7px {
  margin-top: 7px;
}

.mrt-10px {
  margin-top: 10px;
}

.mrt-40px {
  margin-top: 40px;
}

.mrr-10px{
  margin-right: 10px;
}

.mrr-15px{
  margin-right: 15px;
}

.mrl-5px{
  margin-left: 5px;
}

.mrl-0px{
  margin-left: 5px;
}

.mrl-10px{
  margin-left: 10px;
}

.mrl-15px{
  margin-left: 15px;
}

.mrl-50px{
  margin-left: 50px;
}

.mrl-100px{margin-left: 100px;}
.mrr-100px{margin-right: 100px;}
.mrl-auto{
  margin-left: auto;
}

/* positions */

.relative {
    position: relative;
}

.self-end {
    align-self: flex-end;
}

.self-center{
  align-self: center;
}

.flex-1{
  flex: 1;
}

/* others */

.rotate-180 {
    transform: rotate(180deg)
}

.block{
  display: block;
}

