@import "./bem-button.css";
@import "./bem-container.css";
@import "./bem-defaults.css";
@import "./bem-dk-input.css";
@import "./bem-icon.css";
@import "./bem-popup.css";
@import "./bem-schedule.css";
@import "./bem-time-wrapper.css";

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}


@font-face {
  font-family: 'Circular Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff');
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
  transform: translateZ(0); 
}



.full-width-height{
  width: 100%;
  height: 100%;
}

.not-full-width-height{
  width: calc(100% - 240px);
  height: calc(100% - 55px);
}


/* others */

.pointer{
  cursor: pointer;
}

.padding-right-15px{
  padding-right: 15px;
}

.min-height-35px{
  min-height: 35px !important;
}

.min-height-28px{
  min-height: 28px !important;
}

.min-height-30px{
  min-height: 30px !important;
}

.padding-10px{
  padding: 10px;
}


.table-margin{
  margin-right: 10px;
  margin-left: 10px;
}

.flex-1{
  flex: 1;
}


.min-width-200px{
  min-width: 200px;
}

.min-width-190px{
  min-width: 190px;
}

.min-width-170px{
  min-width: 170px;
}

.min-width-110px{
  min-width: 110px;
}

.min-width-70px{
  min-width: 70px;
}

.min-width-50px{
  min-width: 50px;
}

.width-100percent{
  width: 100%;
}

.z-index-1{
  z-index:1;
}

.right{
  right: 0;
}

.justify-between{
  justify-content: space-between;
}


.dk-navbar{
  width: 100%;
  min-height: 55px;
  background-color: #456AEB;
}



/* search input */

/* .dk-search-input{
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 38px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  font-family: 'Open Sans',sans-serif;
  border-radius: 2px;
}

.dk-search-input > i {
  font-size: 1.2em;
  color: #888E96;
}

.dk-search-input > input {
  min-height: 20px;
  border: none;
  margin-left: 10px;
  flex: 1;
  font-size: 0.8em;
  color: #888E96;
  font-weight: 200;
}

.dk-search-input > input::placeholder{
  color: lightgrey;
}
 */


input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #1385e5;
  border-radius: 50%;
  cursor: pointer
}

input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #1385e5;
  border-radius: 50%;
  cursor: pointer
}

@keyframes drop-down{
  from{transform: translateY(-10px); opacity:.1}
  to{transform: translateY(0); opacity:1}
}

@keyframes drop-up{
  from{transform: translateY(10px); opacity:.1}
  to{transform: translateY(0); opacity:1}
}
/* 
.dk-drop-down-wrapper{
  position: absolute;
  width: 100%;
  background-color: white;
  top: 100%;
  margin-top: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
  animation: drop-down .3s forwards;
  z-index:3;
  opacity: .4;
  max-height: 200px;
  overflow-y: scroll;
} */

/* .dk-drop-down-default-item{
  max-width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #F6F7F9;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
  color: #456AEB;
  font-size: 0.8em;
}

.dk-drop-down-default-item > i{
  font-size: 1em;
}
 */

/* dk switch */


.dk-switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 10px;
  left:3px;
}

.dk-switch input {display:none;}

.dk-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  -webkit-transition: .4s;
  transition: .4s;
}

.dk-switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -3px;
  bottom: -3px;
  background-color: #456AEB;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .dk-switch-slider {
  background-color: #85A8E4;
}

input:focus + .dk-switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .dk-switch-slider:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.dk-switch-slider {
  border-radius: 34px;
}

.dk-switch-slider:before {
  border-radius: 50%;
}


/* loader */

/* .full-screen-loader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.full-screen-loader > background{
  position: absolute;
  opacity: .2;
  background-color: black;
  animation: background-opacity .3s;
  height: 100%;
  width: 100%;
}

.full-screen-loader.not-animate>background{
  animation: none;
}

.full-screen-loader > div {
  min-width: 130px;
  min-height: 130px;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  animation:scale .3s;
}

.full-screen-loader > .popup-form{
  width: 100%;
  height: 100%;
  max-width: 470px;
  max-height: 529px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .18);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
} */
/* 
.popup-form > i {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: lightgrey;
  transition: color .3s;
}

.popup-form > i:hover{
  color: grey;
}

.popup-form-childrens{
  width: 100%;
  flex:1;
  margin-top: 50px;
}

.popup-form-bottom{
  display: flex;
} */

@keyframes background-opacity{
    from{opacity: 0}
    to{opacity: .2}
}

@keyframes scale{
  from{transform: scale(0.6)}
  to{transform: scale(1)}
}

/* 
.full-screen-loader > .popup-confirm{
  width: 100%;
  height: 100%;
  max-width: 400px;
  height: 250px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .18);
  box-sizing: border-box;
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-confirm>span{
  word-break: break-all;
  text-align: center;
}

.popup-confirm> div{
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

.loader {
  width: 25px;
  height: 24px;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2.5s ease-in-out infinite, 6s ease-in-out infinite;
  animation: dash 2.5s ease-in-out infinite, 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: white;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}


.Toastify__toast.Toastify__toast--info{
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .18);
  background: #5c7ced
}


/* table */

.table-wrapper {
  width: 100%;
  background-color: white;
  overflow-x: scroll;
  padding-bottom: 1px;
}

.table-wrapper > div {
  display: flex;
  min-width: 800px;
  width: 100%;
}

.table-header-wrapper {
  flex: 1;
  height: 55px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F0F1F5;
  font-family: 'Circular Std Book',sans-serif;
  font-size: 0.9em;
  color: grey;
}

.table-row-wrapper {
  box-sizing: border-box;
  flex: 1;
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.75em;
  color: #545D6B;
}

.table-row-wrapper--hover:hover{
  background-color: #fafafa
}

.table-row-wrapper>span{
  word-break: break-all;
}

.table-row-wrapper >.name{
  color: #5c7ced;
  font-weight: 600; 
  font-size: 1em;
}

.table-row-wrapper>span.more{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #5c7ced;
  cursor: pointer;
}

.table-row-wrapper>span.more>i{
  font-size: 1.2em;
}

.table-row-wrapper--border-bottom::after {
  position: absolute;
  content:'';
  width: calc(100% - 50px);
  height: 1px;
  background-color: #F0F1F5;
  bottom: -1px;
  left: 25px;
}

.default-box-shadow{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
}


.box-shadow-2{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28);
}


/* tabs */
.dk-tab-items-wrapper{
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #7E8FA8;
}

.dk-tab-item{
  display: flex;
  align-items: center;
  font-family: 'Circular Std Book';
  margin-right: 40px;
  cursor: pointer;
  font-size: 0.9em;
  transition: color .3s;
}

.dk-tab-item > i {
  font-size: 1.1em;
  margin-right: 7px;
}

.dk-tab-item:hover{
  color:grey;
}

.dk-tab-item.active{
  color: #456AEB;
  font-family: 'Circular Std Medium'
}



@keyframes tab-opacity {
  from {
      opacity: .1
  }
  to {
      opacity: 1
  }
}


/* responsive */

@media screen and (max-width: 800px) {
    /* .full-screen-loader{
      height: calc(100% + 55px);
    } */

    .not-full-width-height{ 
      transition:transform .4s ease-out;
      width: 100%;
    }

    .not-full-width-height.on{
      transform: translateX(240px);
    }

    .not-full-width-height.off{
      transform: translateX(0);
    }

    .full-screen-loader > .popup-form{
      padding-left: 20px;
      padding-right: 20px;
    }

    .popup-form-childrens{
      overflow-y: scroll;
    }
    
}