.login-main-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 247, 249);
}

.login-form {
    width: 750px;
    min-height: 400px;
    display: flex;
    margin: 10px;
}

.login-form__item {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
}

.login-form__item--first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: linear-gradient(180deg, #3660E6 0%, #456AEB 100%);
    position: relative;
    z-index: 1;
}

.login-form__item--first::after {
    position: absolute;
    bottom: 5px;
    right: 0;
    content: "";
    background-image: url('../imgs/Illustration.png');
    background-size: cover;
    background-position: center;
    width: 322px;
    height: 196px;
    z-index: -1;
}

.login-form__item--last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    justify-content: space-between;
    background-color: white;
}

.login-form__title{
    position: relative;
}

.login-form__title::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 5px;
    background-color: white;
    bottom: -20px;
    left: 0;
}

.login-form__inputs-wrapper{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.login-form__paragraph{
    margin-top: 50px;
}

.login-form__bottom{
    display: flex;
    align-items: center;
}

.login-form__bottom-span{
    font-size: 0.7em;
    color: #456AEB;
    font-family: 'Circular Std Medium',sans-serif;
    margin-left: 5px;
}


@media screen and (max-width: 800px) {
    .login-form{
        flex-direction: column;
    }

    .login-form__item{
        padding:20px;
    }

    .login-form__item--first{
        border-radius:0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .login-form__item--first::after{
        display: none;
    }

    .login-form__item--last{
        border-radius:0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .login-form__inputs-wrapper{
        margin-top: 20px;
        margin-bottom: 30px;
    }
}