.patients-search-w{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.patients-search-w__first{
    display: flex;
    width: 100%;
}

.patients-order-by{
     font-family: 'open-sans',sans-serif;
    color: #888E96;
    text-align: left;
    position: relative;
    margin-left: 30px;
}

.patients-order-by__title{
    font-size: 0.5em;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

.patients-order-by__options{
      font-size: 0.95em;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.patients-order-by__arrow-down-i{
    margin-left: 25px;
}

/* ADD POPUP */
.add-patient-popup{
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
}


/* PATIENT  */
.p-boxes{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.p-boxes__item{
    width: calc(50% - 15px);
    max-width: calc(50% - 15px);
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
    border-radius: 2px;
}

.p-info-box{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.p-info-box__first{
    display: flex;
    align-items: center;
    color: #456AEB;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #F6F7F9;
}

.p-info-box__reports-dd-w{
    font-family: 'Circular Std Book',sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-left: auto;
}

.p-info-box__column-dir{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.p-info-box__input{
     border: 1px solid transparent;
}

.p-info-box__input--active{
    border-bottom: 1px solid #456AEB;  
}

.p-info-box__input--name{
    font-family: 'Circular Std Medium',sans-serif;
    font-size: 1em;
    color: #456AEB;
}

.p-info-box__input--email{
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    color: rgb(86, 91, 97);
}

.p-info-box__input--value{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    color: #545D6B;
    margin-left: 30px;
}

.p-info-box__second{
    display: flex;
    flex-direction: column;
}

.p-info-box__row{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.p-info-box__row-item{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.p-info-box__row__item-name-w{
    display: flex;
    align-items: center;
    color: #A3A8AE;
    font-family: 'open-sans', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    flex-shrink: 0;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.p-info-box__row-item-i{
    margin-right: 10px;
    font-size: 1.1em;
    color: #7E8FA8;
    width: 20px;
}

.p-info-box__last{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 30px;
    position: relative;
}

.p-info-box__last::after{
    position: absolute;
    content: '';
    width: calc(100% + 40px);
    left: -20px;
    height: 1px;
    top: -10px;
    background-color: #F6F7F9;
}


/* MESSAGE BOX */
.p-message-box{
    display: flex;
    flex-direction: column;
    max-height: 305px;
}

.p-message-box__title{
    font-size: 1.2em;
    width: 100%;
    font-family: 'Circular Std Medium',sans-serif;
    color: rgb(86, 91, 97);
    padding: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    position: relative;
}

.p-message-box__title::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 70px;
    left: 0;
    top: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 97.36%);
}

.p-message-box__messages-wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    padding-bottom: 10px;
}

.p-message-box__bottom{
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #F9FAFB;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
}

.p-message-box__input{
    width: 100%;
    height: 90%;
    border: none;
    background-color: transparent;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.75em;
}

.p-message-box__input::placeholder{
    font-weight: 100;
    color: lightgrey;
}

.p-message-box__send-icon{
     font-size: 1em;
    cursor: pointer;
    margin-left: 10px;
    color: lightgrey;
    transition: color .4s ease;
}

.p-message-box__messages-wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    padding-bottom: 10px;
}

.p-message-box__message{
     border-radius: 7px 7px 0 7px;
    background-color: #456AEB;
    box-sizing: border-box;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.77em;
    font-weight: 100;
    align-self: flex-end;
    max-width: 60%;
}

.p-message-box__send-icon--active{
    color: #456AEB;
}


/* TABS */
.p-tab-header{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #DDDDDD;
}

.p-tab-header__item{
     font-family: 'Circular Std Book',sans-serif;
    color:#888E96;
    margin-right: 50px;
    cursor: pointer;
    font-size: 0.9em;
    transition: color .3s ease;
}

.p-tab-header__item--active{
    font-family: 'Circular Std Medium',sans-serif;
    color: rgb(86, 91, 97);
    position: relative;
}

.p-tab-header__item--active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: -17px;
    left: 0;
    background-color:#456AEB; 
}

.p-history-tab{
    width: 100%;
    min-height: 500px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
    min-width: 700px;
}

.p-history-tab__first{
     box-sizing: border-box;
    padding-top: 30px;
    margin-left: 50px;
    width: 50%;
    padding-bottom: 50px;
}

.p-history-tab__selects-w{
    display: flex;
}

.p-history-tab__note-input-w{
    display: flex;
    width: calc(100% + 145px);
    justify-content: space-between;
    align-items: flex-end;
}

.notes-group{
    margin-top: 20px;
}

.notes-group__header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Circular Std Book',sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #F6F7F9;
    color: #456AEB;
}

.notes-group__icon{
    color: #7E8FA8;
    font-size: 1.1em;
}

.notes-group__icon--round{
    background-color: #E6F5D4;
     max-width: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     margin-right: 10px;
     padding-left: 6px;
    padding-right: 6px;
    color: #82CC2D;
}


.notes-group__date{
    color: #7E8FA8;
    font-size: 0.9em;
    margin-left: 10px;
}

.notes-group__row{
    display: flex;
    min-height:75px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 20px;
    border-bottom: 1px solid #F6F7F9;
}

.notes-group__row--appointment{
    padding-left: 25px;
}

.notes-group__time-w{
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.notes-group__time{
     color: #565B61;	
    font-family: "Circular Std Medium";	
    font-size: 0.85em;
}

.notes-group__service{
     font-family: "Open Sans";
    color: #7E8FA8;
    font-size: 0.7em;
    font-weight: 600;
}

.notes-group__note{
     font-family: "Open Sans";
    color: #545D6B;
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 0.05em;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    padding-bottom:3px;
    border-bottom: 2px solid transparent;
    word-break: break-all;
}

.notes-group__note--active{
    border-color: #456AEB;
}

.notes-group__action-w{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 15px;
}


/* APPOINTMENTS TAB */
.p-appoints-tab{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 10px;
    min-width: 1000px;
    min-height: 500px;
}


.p-appoints-tab__anamnesis{
    width: 350px;
    min-width: 350px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.anamnesis-card{
    margin-top: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 15px;
}

.anamnesis-card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.anamnesis-card__p{
    font-family: "Open Sans";
    color: #545D6B;
    font-size: 0.8em;
    font-weight: 300;
}

.anamnesis-card__date{
    color: #565B61;
    font-family: "Circular Std Medium",sans-serif;
    font-size: 0.9em;
}

.anamnesis-card__header__delete-i{
     background-color: #FCE8E1;
     max-width: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding:2px;
    color: #EF7867;
    font-size: 1em;
    cursor: pointer;
}

.anamnesis-card__header__delete-i:hover{
     background-color: rgb(245, 215, 204);
}


.p-appoints-tab__appointments{
    width: calc(100% - 380px);
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
}

.appointments-tab-header{
    height: 70px;
    min-height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-family: Circular Std Book, sans-serif;
    font-size: 0.8em;
    color: rgb(117,117,117);
    border-bottom: 1px solid #F6F7F9;
}

.appointments-tab-header__first{
    min-width: 149px;
}

/* =========  FILES TAB ========== */
.p-files-tab{
  width: 100%;
  margin-top: 10px;
  background-color: white;
  min-height: 100px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
  box-sizing: border-box;
  padding: 50px;
}

.p-files-tab__header{
    display: flex;
    align-items: center;
}

.p-files-tab__folders{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    margin-top: 50px;
    justify-content: center;
}

.p-files-tab__back-icon{
    color: #888E96;
    font-size: 2em;
    cursor: pointer;
}

.p-files-tab__name{
    color: #565B61;
    font-family: "Circular Std Book";
    margin-left: 10px;
    font-size: 1.3em;
}

.folder{
    max-width: 255px;
    height: 260px;
    max-height: 260px;
    min-width: 255px;
    background-color: #FFFFFF;
    border-radius:2px;
    margin-right: 30px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
    margin-bottom: 30px;
}

.folder__thumb{
    max-width: 100%;
    width: 100%;
    height: 205px;
    border-radius:2px 2px 0px 0px;
}

.folder__infos{
    height: 55px;
    min-height: 55px;
    margin-top: -5px;
    padding-bottom: 2px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.folder__name-w{
    display: flex;
    flex-direction: column;
    color: #565B61;
}

.folder__more{
    font-size: 0.7em;
}

.folder__more--self-end{
    align-self: flex-end;
}


.folder__name{
    font-family: "Circular Std Medium";
    font-size: 0.8em;
}

.folder__files-count{
    font-family: "Open Sans";
    font-size: 0.7em;
    font-weight: 400;
    color: #7E8FA8;
}

.file{
    max-width: 255px;
    height: 260px;
    max-height: 260px;
    min-width: 255px;
    background-color: #FFFFFF;
    border-radius:2px;
    margin-right: 30px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.file__info-wrapper{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Circular Std Book";
    color: #565B61;
    font-size: 0.9em;
}

.file__info-bg{
    position: absolute;
    width: 100%;
    background-color: white;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.78;
    z-index: -1;
}

.file__delete-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #C94F40;
}


/* RESPONSIVE */
@media screen and (max-width: 1135px) {
    .p-history-tab__first{
        width: calc(100% - 100px);
    }

    .p-history-tab__note-input-w{
        width: calc(100% - 15px);
    }

    .p-boxes{
        flex-direction: column;
    }

    .p-boxes__item{
        width: 100%;
        max-width: none;
    }

    .p-message-box{
        margin-top: 20px;
        height: 305px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 800px) {

    .patients-search-w{
        flex-direction: column;
    }

    .patients-order-by{
        margin-left: auto;
        margin-top: 10px;
    }

    .add-patient-popup{
        max-width: none;
    }
    
    .p-tab-header{
        overflow-x: auto;
    }

    .p-tab-header__item--active::after{
        bottom: -5px;
    }

    .p-files-tab{
        padding: 10px;
        padding-top: 40px;
    }

    .p-files-tab__header{
        justify-content: center;
    }

    .p-files-tab__header > .mrl-auto{
        margin-left: 0px;
    }

    .folder{
        margin-right: 0px;
    }
}

@media screen and (max-width: 415px) {
    .p-info-box__first>.initial-circle{
        display: none;
    }

    .p-info-box__reports-dd-w > span:first-child{
        display: none;
    }

    .p-info-box__column-dir{
        margin-left: 0px;
    }
}