/* .settings-main-container {
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.settings-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* .settings-p-tabs-container {
    display: flex;
    justify-content: space-between;
    animation: tab-opacity .3s;
} */


/* .settings-information-tab {
    width: 100%;
    min-height: 100px;
    background-color: white;
    box-sizing: border-box;
    margin-right: 30px;
    border-radius: 3px
} */


.s-cover{
    min-height: 320px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /* background-image: url('../imgs/cover-demo.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    padding-left: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    z-index: 1;
}

.s-cover::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 100%);
}

.s-cover__chose-img{
    height: 28px;
    width: 47px;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888E96;
    font-size: 1em;
    cursor: pointer;
}

.s-cover__chose-img:hover{
    background-color:whitesmoke;
}


.s-cover__chose-img--right{
    position: absolute;
    right: 17px;
    top: 17px;
}

.s-cover__chose-img--left{
    position: absolute;
    left: 17px;
    top: 17px;
}


.s-cover-bottom{
    display: flex;
    align-items: center;
}


.s-cover-bottom__profile-img{
    min-width: 100px;
    min-height: 100px;
    background-color: white;
    border-radius: 50%;
    /* background-image: url(https://thevoicefinder.com/wp-content/themes/the-voice-finder/images/default-img.png); */
    background-position: center ;
    background-size: cover ;
}

.s-cover-bottom__profile-icon{
    position: absolute;
    bottom: -12px;
    left: calc(50% - 15px);
    background-color: #FFFFFF;
    color: #888E96;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1em;
    cursor: pointer;
}

.s-cover-bottom__profile-icon:hover{
    background-color:whitesmoke;
}

.s-cover-bottom__profile-icon--cancel{
    left:-15px;
    top: calc(50% - 15px);
}



.s-cover-bottom__name-w{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.s-cover-bottom__name-input{
    display: flex;
    align-items: center;
    font-family: 'Circular Std Bold';
    color: white;
    font-size: 1.8em;
}


.s-cover-bottom__input{
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}


/* profile details */

.s-profile-details{
    padding: 50px;
}

.s-options{
    width: 100%;
    padding: 50px;
    padding-right: calc(50% - 100px);
    animation: tab-opacity .3s;
    margin-top: 25px;
    min-height: 100px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
}

.s-profile-details__title{
    font-family: 'Circular Std Book';
    color: rgb(86, 91, 97);
    font-size: 1.5em;
}

.s-profile-details__row{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.s-profile-details__row--justify-end{
    justify-content: flex-end
}

/* schedule tab */

/* .settings-schedule-tab {
    width: 350px;
    min-height: 100%;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
} */

/* .settings-schedule-row {
    border-bottom: 1px solid lightgrey;
}

.settings-schedule-row>.times-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .settings-schedule-row>.times-wrapper>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #565B61;
    flex: 1;
}

.settings-schedule-row>.times-wrapper>div:first-child>i {
    color: #565B61;
    font-size: 1em;
}



.settings-schedule-row>.times-wrapper>div:first-child>.time-wrapper {
    display: flex;
    align-items: center;
}

.settings-schedule-row>.times-wrapper>div:first-child>.time-wrapper>i {
    color: #565B61;
    font-size: 1em;
    margin-right: 5px;
}

.settings-schedule-row>.times-wrapper>div:first-child>.time-wrapper>input {
    font-size: 1em;
    width: 70px;
    border: none;
    color: #565B61;
}

.settings-schedule-row>.times-wrapper>.button-icon {
    color: white;
    background-color: #456AEB;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 15px;
}

.settings-schedule-row>.times-wrapper>.loader {
    width: 20px;
    margin-left: 15px;
} */

/* .popup.time-picker>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .popup.time-picker{
    position: absolute;
    min-width: 120px;
    left: -20px;
    cursor: auto ;
    padding: 10px;
}

.popup.time-picker.right{
    right: 0 !important;
    left: auto;
}

.popup.time-picker.left{
    left: 0 !important;
    right: auto;
}


.popup.time-picker > div:first-child > span {
    padding: 5px;
    background-color: #456AEB;
    color: white;
    border-radius: 3px;
    font-weight: 600;
}

.popup.time-picker > div:first-child > span:nth-child(2) {
    color: red;
    background-color: transparent;
    color: #456AEB;
    font-weight: 700;
}

.popup.time-picker > div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.popup.time-picker > div:nth-child(2) > input{
    -webkit-appearance: none;
    height: 4px;
    background-color: #456AEB;
    border-radius: 3px;
    cursor: pointer;
} */



/* options tab */
/* .s-options-tab{
    width: 100%;
    padding: 50px;
    padding-right: calc(50% - 100px);
    animation: tab-opacity .3s;
    margin-top: 25px;
} */

/* .s-options-tab > .row{
    width: 100%;
    display: flex;
}

.s-options-tab > .row.justify-end{
    justify-content: flex-end;
} */


@media screen and (max-width: 800px) {
    /* .settings-main-container {
        padding-left: 20px;
    } */

    /* .settings-p-tabs-container{
        flex-direction: column;
    } */
/* 
    .settings-schedule-tab{
        width: 100%;
    } */
    
    .s-options{
        padding-right: 50px;
    }
}