.sidebar {
    min-height: 100%;
    max-height: 100%;
    min-width: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 1;
}

.sidebar__header {
    min-height: 55px;
    width: 100%;
    min-width: 100%;
    background-color: #3660E6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Circular Std Bold',sans-serif;
}

.sidebar__items{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 10px;
}

.sidebar__item {
    box-sizing: border-box;
    min-height: 44px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    cursor: pointer;
    color: #7E8FA8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}


.sidebar__item:hover{
    color: #627592;
}

.sidebar__item--active{
    color: #3660E6;
    font-weight: 600;
}

.sidebar__item--active:hover{
    color: #3660E6;
}

.sidebar__item-icon{
    margin-right: 10px;
    font-size: 1.1em;
}

.sidebar__divider {
    min-height: 30px;
    position: relative;
    width: 100%;
}

.sidebar__divider::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #F6F7F9;
    top: 50%;
}

.sideber-switcher{
    color: white;
    position: absolute;
    margin-left: 20px;
    top: 15px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .sidebar{
        position: absolute;
    }
    .sideber-switcher{
        display: block;
    }
}