/* .Cal__Container__root {
    width: 100% !important;
}

.Cal__Container__wrapper {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .08) !important;
}



.appointments-header {
    display: flex;
}

.app-doctors-select-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    max-width: 445px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex: 1;
}

.app-doctors-select-wrapper .calendar-wrapper {
    width: 100%;
    min-width: 400px;
    position: absolute;
    top: 70px;
    left: 0;
    height: 100px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .08);
    z-index: 5;
}

.app-doctors-select-wrapper .calendar-wrapper.false {
    visibility: hidden;
    opacity: 0;
}

.app-doctors-select-wrapper .calendar-wrapper.true {
    visibility: visible;
    opacity: 1;
}

.app-doctors-select-wrapper:first-child {
    margin-right: 30px;
}

.app-doctors-select-wrapper.date-picker {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    justify-content: space-between;
}

.app-doctors-select-wrapper>.initial {
    height: 40px;
    width: 40px;
    background-color: #E8F0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 15px;
    opacity: .7;
}

.app-doctors-select-wrapper>.first {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.app-doctors-select-wrapper>.first>span:last-child {
    margin-top: -3px;
}

.app-doctors-select-wrapper>.last {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.app-doctors-select-wrapper>.last>i {
    font-size: 1em;
    cursor: pointer;
    color: grey;
}

.app-doctors-select-wrapper.date-picker>.last {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid lightgrey;
}

.view-appoinment-popup {
    height: auto !important;
    min-height: auto !important;
    max-height: none !important;
    width: auto !important;
    max-width: none !important;
    align-items: flex-start !important;
    padding: 40px !important;
    animation: none !important;
}

.add-patient-popup{
    max-height: 100% !important;
    height: auto !important;
    overflow: scroll;
    animation: none !important;
}


.search-patient-popup{
    min-height: 400px !important;
    max-width: 100% !important;
    width: 550px !important;
}

.view-appoinment-popup>.first, .add-patient-popup>.first {
    width: 100%;
    border-bottom: 1px solid #F6F7F9;
    padding-bottom: 30px;
    font-size: 1.4em;
    box-sizing: border-box;
    padding-left: 10px;
    flex-shrink: 0;
}

.add-patient-popup>.first{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-left: 0px;
}

.view-appoinment-popup>.mid {
    display: flex;
    margin-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.add-patient-popup > .mid{
    width: 100%;
}

.search-patient-popup > .mid{
    width: 100%;
    flex:1;
}

.search-patient-popup > .mid > div{
    position: relative;
    margin-top: 20px;
    border-radius: 2px;
    border: 0.5px solid #DDDDDD;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    height: 38px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
}

.search-patient-popup > .mid > div > i{
    color: #888E96;
    font-size: 1.3em;
}

.search-patient-popup > .mid > div > i.clear{
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    color: #5c7ced;
}

.search-patient-popup > .mid > div > input{
    height: 70%;
    width: 85%;
    color: #545D6B;
    font-family: 'open-sans', sans-serif;
    font-size: 13px;
    border: none;
    margin-left: 5px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

.search-patient-popup > .mid > div > input.selected{
    color: #5c7ced;
}

.search-patient-popup > .mid > div > input::placeholder{
    font-weight: 100;
}

.search-patient-popup > .mid > div > .dk-drop-down-wrapper{
    left: 0;
    max-height: 107px
}

.view-appoinment-popup>.mid>div {
    overflow-x: hidden;
}

.view-appoinment-popup>.mid>div:nth-child(2) {
    margin-left: 100px;
    margin-right: 100px;
}

.view-appoinment-popup>.mid>div>div {
    display: flex;
    align-items: center;
    color: #A3A8AE;
    font-family: 'open-sans', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.view-appoinment-popup>.mid>div>div>i {
    margin-right: 10px;
    font-size: 1.2em;
    color: #7E8FA8;
    width: 20px;
}

.view-appoinment-popup>.mid>div>.name {
    color: #545D6B;
    font-family: 'open-sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    margin-left: 30px;
    word-break: break-all;
    text-align: center;
}

.view-appoinment-popup>.confirm-delete-wrapper{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.view-appoinment-popup>.confirm-delete-wrapper {
    text-align: center;
}

.view-appoinment-popup>.confirm-delete-wrapper > div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.view-appoinment-popup>.bottom, .add-patient-popup>.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F6F7F9;
    box-sizing: border-box;
    padding-top: 30px;
}

.add-patient-popup>.bottom {
    border-top: none;
}

.search-patient-popup-item{
    display: flex;
    padding-right: 5px;
}

.search-patient-popup-item > .name{
    flex: 1;
}

.search-patient-popup-item > .number{
    color:#545D6B;
    font-family: 'open-sans',sans-serif;
    font-size: 12px;
    font-weight: 100;
}

@media screen and (max-width: 800px) {
    .appointments-main {
        padding-left: 20px;
    }
    .appointments-header {
        flex-direction: column;
    }
    .app-doctors-select-wrapper {
        margin-bottom: 0px;
    }
    .view-appoinment-popup>.first {
        display: flex;
        flex-direction: column;
    }
    .view-appoinment-popup>.mid {
        flex-direction: column;
    }
    .view-appoinment-popup>.mid>div:nth-child(2) {
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
} */