/* .dashboard-main-container {
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(246, 247, 249);
}

.dashboard-header-wrapper{
    display: flex;
    align-items: center;
}

.dashboard-header-wrapper > i{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    color: grey;
    padding: 3px;
}
.dashboard-header-wrapper > i:hover{
    background-color: #eaeaea;
    border-radius: 50%;
}

.dsh-row {
    min-height: 350px;
    height: 350px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.dsh-row-inner-container {
    height: 100%;
    width: 50%;
    border-radius: 2px;
}

.dsh-row-inner-container.chart {
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    max-height: 400px;
}

.dsh-row-inner-container.chart>canvas{
    margin-top: 20px;
    max-height: calc(100% - 15px);
}

.dsh-row-inner-container.chart>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsh-row-inner-container.chart>.top>.end {
    display: flex;
}

.dsh-row-inner-container.chart>.top>.end>.end {
    display: flex;
}

.dsh-row-inner-container.chart>.pie-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}

.dsh-row-inner-container.chart>.pie-container>.spans {
    display: flex;
    flex-direction: column;
    flex: 0.8
}

.dsh-row-inner-container.chart>.pie-container>.absolute-stats{
    position: absolute;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsh-row-inner-container.chart>.pie-container>.spans>.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dsh-row-inner-container.chart>.pie-container>.spans>.item>.first>span:first-child {
    margin-right: 10px;
}

.dsh-row-inner-container.chart>.pie-container>.spans>.item>.first>span:nth-child(2) {
    font-family: 'Circular Std Book';
    color: grey;
}

.dsh-row-inner-container.chart>.pie-container>.spans>.item>span {
    font-family: 'Circular Std Medium';
    color: lightgrey;
    font-size: 0.9em;
}

.dsh-row-inner-container.items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dsh-row-inner-container>.row {
    width: calc(100% - 30px);
    height: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.dsh-row-inner-container>.row.start {
    align-items: flex-start;
}

.dsh-row-inner-container>.row.end {
    align-items: flex-end;
}

.dsh-row-inner-container>.row>.item {
    min-width: 50%;
    height: calc(100% - 5px);
    min-height: 140px;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 3px;
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsh-row-inner-container>.row>.item>div {
    display: flex;
    flex-direction: column;
}

.dsh-row-inner-container>.row>.item>i {
    color: #DDDDDD !important;
    font-size: 3em;
}

.dsh-row-inner-container>.row>.item::after {
    position: absolute;
    content: '';
    min-width: 100%;
    height: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: -5px;
    left: 0;
    z-index: -1;
}

.dsh-row-inner-container>.row>.item.red::after {
    background-color: rgb(199, 80, 68);
}

.dsh-row-inner-container>.row>.item.blue::after {
    background-color: rgb(72, 110, 232)
}

.dsh-row-inner-container>.row>.item.green::after {
    background-color: rgb(94, 221, 182)
}

.dsh-row-inner-container>.row>.item.yellow::after {
    background-color: rgb(252, 194, 60)
}


@media screen and (max-width: 1050px) {

    .dashboard-main-container{
        padding-left: 20px;
    }

    .dsh-row{
        flex-direction: column;
        height: auto;
    }

    .dsh-row-inner-container{
        width: 100%;
        min-height: 300px;
    }

    .dsh-row > div:last-child{
        margin-left: 0px;
        margin-top: 30px;
    }
}


@media screen and (max-width: 450px) {
    .dsh-row-inner-container>.row{
        width: 100%;
        flex-direction: column;
    }

    .dsh-row-inner-container>.row>.item{
        width: 100%;
        margin: 0px;
    }

    .dsh-row-inner-container>.row>.item:last-child{
        margin-top: 30px;
    }

    .dsh-row-inner-container.chart>.pie-container{
        flex-direction: column;
    }
    .dsh-row-inner-container.chart>.pie-container>.spans{
        margin-top: 20px;
    }

    .dsh-row-inner-container.chart>.pie-container>.absolute-stats{
        top: 60px;
        left: 50%;
        transform: translateX(-50%)
    }
} */