/* .patients-main {
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #F6F7F9;
}

.patients-header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patients-header-wrapper>div:first-child{
    display: flex;
    align-items: center;
}

.patients-header-wrapper > i{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    color: grey;
    padding: 3px;
}
.patients-header-wrapper > i:hover{
    background-color: #eaeaea;
    border-radius: 50%;
}

.p-h-second-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.p-h-second-div > .first{
    display: flex;
    width: 100%;
}

.p-h-second-div > .first > .dk-search-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.p-h-second-div > .first > .dk-search-input>input{
    margin-left: 0px;
}

.p-h-second-div > .first > .dk-button {
    margin-left: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
}

.p-h-second-div > .first > .dk-button > i{
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
}


.p-h-second-div > .last{
    font-family: 'open-sans',sans-serif;
    color: #888E96;
    text-align: left;
    position: relative;
    margin-left: 30px;
}

.p-h-second-div> .last > span{
    font-size: 0.5em;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

.p-h-second-div > .last > div{
    font-size: 0.95em;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.p-h-second-div > .last > div > i{
    margin-left: 25px;
}

.p-h-second-div > .last > div >.popup{
    width: 100%;
    right: 10px;
}

 */


/* patient */

.p-first-boxes-w{
    display: flex;
    width: 100%;
}

.p-first-boxes-w > .box{
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
    border-radius: 2px;
    box-sizing: border-box;
    width: 50%;
}

.p-first.box{
    margin-right: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


.p-f-b-name-informations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #456AEB;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #F6F7F9;
}

.p-f-b-name-informations > div:first-child{
    display: flex;
    align-items: center;
}

.p-f-b-name-informations > div:first-child>.initial{
    font-family: 'Circular Std Bold',sans-serif;
    color: #456AEB;
    height: 45px;
    width: 45px;
    background-color: #E8F0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: .7;
}

.p-f-b-name-informations > div:first-child > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.p-f-b-name-informations > div:first-child > div>input{
    border: none;
}

.p-f-b-name-informations > div:first-child > div>input.active{
    border-bottom: 1px solid #456AEB;  
}

.p-f-b-name-informations > div:first-child > div > .name{
    font-family: 'Circular Std Medium',sans-serif;
    font-size: 1em;
    color: #456AEB;
}

.p-f-b-name-informations > div:first-child > div > .email{
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    color: rgb(86, 91, 97);
}

.p-f-b-name-informations > div:last-child{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}


.p-f-b-name-informations > div:last-child>span{
    font-family: 'Circular Std Book',sans-serif;
    font-size: 12px;
}
.p-f-b-name-informations > div:last-child>i{
    font-size: 1em;
    margin-left: 10px;
}

.p-f-b-name-informations > div:last-child>.popup{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.15);
    border: 0.5px solid #f4f4f4;
}

.p-f-b-name-informations > div:last-child>.popup>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Circular Std Nook', sans-serif;
    font-size: 0.75em;
    margin-top: 2px;
    padding-top: 9px;
    padding-bottom: 2px;
    border-bottom: 1px solid #F6F7F9;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: -1px;
}

.p-f-b-name-informations > div:last-child>.popup>div > i{
    font-size: 1.3em;
    margin-left: 10px;
}

.p-f-b-all-infos{
    display: flex;
    flex-direction: column;
}

.p-f-b-all-infos > .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 100%;
}

.p-f-b-all-infos > .row > div{
    width: 33%;
    max-width: 33%;
}

.p-f-b-all-infos > .row > div > div{
    display: flex;
    align-items: center;
    color: #A3A8AE;
    font-family: 'open-sans', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.p-f-b-all-infos > .row > div > div > i{
    margin-right: 10px;
    font-size: 1.2em;
    color: #7E8FA8;
    width: 20px;
}

.p-f-b-all-infos > .row > div  > .name{
    color: #545D6B;
    font-family: 'open-sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    margin-left: 30px;
    width: 80%;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1.5px solid transparent;   
}

.p-f-b-all-infos > .row > div  > .name.active{
    padding-bottom: 5px;
    border-bottom: 1.5px solid #456AEB;   
}

.p-f-b-bottom{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 30px;
    position: relative;
}

.p-f-b-bottom::after{
    position: absolute;
    content: '';
    width: calc(100% + 40px);
    left: -20px;
    height: 1px;
    top: -10px;
    background-color: #F6F7F9;
}


.p-second.box{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    max-height: 305px;
}


.p-second.box > .title{
    font-size: 1.2em;
    width: 100%;
    font-family: 'Circular Std Medium',sans-serif;
    color: rgb(86, 91, 97);
    padding: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    position: relative;
}

.p-second.box>.title::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 70px;
    left: 0;
    top: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 97.36%);
}

.p-second.box>.messages-wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    padding-bottom: 10px;
}

.p-second.box>.messages-wrapper > .message{
    border-radius: 7px 7px 0 7px;
    background-color: #456AEB;
    box-sizing: border-box;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.77em;
    font-weight: 100;
    align-self: flex-end;
    max-width: 60%;
}

.p-second.box > .bottom{
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #F9FAFB;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
}

.p-second.box > .bottom>input{
    width: 100%;
    height: 90%;
    border: none;
    background-color: transparent;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.75em;
}

.p-second.box > .bottom>input::placeholder{
    font-weight: 100;
    color: lightgrey;
}

.p-second.box > .bottom>i{
    font-size: 1em;
    cursor: pointer;
    margin-left: 10px;
    color: lightgrey;
    transition: color .4s ease;
}

.p-second.box > .bottom>i.active{
    color: #456AEB;
}

/* tabs */

.p-tab-header{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #DDDDDD;
}

.p-tab-header>span{
    font-family: 'Circular Std Book',sans-serif;
    color:#888E96;
    margin-right: 50px;
    cursor: pointer;
    font-size: 0.9em;
    transition: color .3s ease;
}

.p-tab-header>span.active{
    font-family: 'Circular Std Medium',sans-serif;
    color: rgb(86, 91, 97);
    position: relative;
}

.p-tab-header>span.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: -17px;
    left: 0;
    background-color:#456AEB; 
}

.p-history-tab{
    width: 100%;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
}

.p-h-t-first{
    box-sizing: border-box;
    padding-top: 30px;
    margin-left: 50px;
    width: 50%;
    padding-bottom: 50px;
}

.p-h-t-first>div:first-child{
    display: flex;
}

.p-h-t-first>div:first-child > .date-picker{
    box-shadow: none;
    max-width: 200px;
    margin-right: 0px
}

.p-h-t-first>div:first-child > .date-picker > .last > span{
    white-space: nowrap;
}

.p-h-t-first>div:last-child{
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
    width: calc(100% + 100px);
}

.p-h-t-first>div:last-child>.dk-input-wrapper{
    flex: 1;
    margin-bottom: 0px;
    margin-right: 50px;
}

.p-h-notes-group{
    margin-top: 20px;
}

.p-h-notes-group > .header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Circular Std Book',sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #F6F7F9;
}

.p-h-notes-group > .header > i{
    color: #7E8FA8;
    font-size: 1.1em;
}

.p-h-notes-group > .header > span{
    color: #7E8FA8;
    font-size: 0.9em;
    margin-left: 10px;
}

.p-h-notes-group > .header>div{
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #456AEB;
    font-family: 'Circular Std Book', sans-serif;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.p-h-notes-group > .header>div>i{
    font-size: 1.5em;
    margin-left: 10px;
}


.p-h-notes-group > .header>div>.popup{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.15);
    border: 0.5px solid #f4f4f4;
}

.p-h-notes-group > .header>div>.popup>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Circular Std Nook', sans-serif;
    font-size: 1.1em;
    margin-top: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #F6F7F9;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: -1px;
}

.p-h-notes-group > .header>div>.popup>div > i{
    font-size: 1.3em;
    margin-left: 10px;
}

.p-h-notes-group > .header>div>.popup>div:last-child{
    border-bottom: none;
}


.p-h-notes-group > .row{
    display: flex;
    min-height:75px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 20px;
    border-bottom: 1px solid #F6F7F9;
}

.p-h-notes-group > .row > .time-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.p-h-notes-group > .row > .time-wrapper > span:first-child{
    color: #565B61;	
    font-family: "Circular Std Medium";	
    font-size: 0.85em;
}

.p-h-notes-group > .row > .time-wrapper > span:last-child{
    font-family: "Open Sans";
    color: #7E8FA8;
    font-size: 0.7em;
    font-weight: 600;
}

.p-h-notes-group > .row > span{
    font-family: "Open Sans";
    color: #545D6B;
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 0.05em;
}

.p-h-notes-group > .row >.dk-button{
    min-width: 45px;
    height: 25px;
    position: relative;
    margin-left: 50px;
}



.p-h-notes-group > .row >.dk-button>.popup>span{
    font-size: 1em;
}

@media screen and (max-width: 800px) {
    /* .patients-main{
        padding-left: 20px;
    }

    .p-h-second-div{
        flex-direction: column;
    }

    .p-h-second-div > .first > .dk-search-input{
        max-width: none;
    }
    
    .p-h-second-div > .last{
        float: none;
        margin-left: auto;
        margin-top: 10px;
    } */

}