.services-main-container {
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.services-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 800px) {
    .services-main-container{
        padding-left: 20px;
    }
}